<!DOCTYPE html>
<html>
  <head>
    <title>Control Mode - Rover {{ rover_id }}</title>
    <meta property="og:title" content="Select Control Mode" />
    <meta property="og:image" content="{{ fc_frame_image }}" />
    <meta name="fc:frame" content="vNext" />
    <meta name="fc:frame:image" content="{{ fc_frame_image }}" />
    <meta name="fc:frame:image:aspect_ratio" content="1.91:1" />
    <meta name="fc:frame:button:1" content="Move" />
    <meta name="fc:frame:button:1:action" content="post" />
    <meta name="fc:frame:button:1:target" content="{{ base_url }}{{ rover_id }}/control/fb" />
    <meta name="fc:frame:button:2" content="Turn" />
    <meta name="fc:frame:button:2:action" content="post" />
    <meta name="fc:frame:button:2:target" content="{{ base_url }}{{ rover_id }}/control/lr" />
    <meta name="fc:frame:button:3" content="Switch" />
    <meta name="fc:frame:button:3:action" content="post" />
    <meta name="fc:frame:button:3:target" content="{{ base_url }}{{ rover_id }}/move/stop" />
    <meta name="fc:frame:button:4" content="Pic" />
    <meta name="fc:frame:button:4:action" content="post" />
    <meta name="fc:frame:button:4:target" content="{{ base_url }}{{ rover_id }}/pic" />
  </head>
  <body>
    <h1>Control Rover {{ rover_id }}</h1>
    {% if previous_command == "stop" %}
    <p>Rover stopped. Choose your next control mode.</p>
    {% else %}
    <p>Choose your control mode</p>
    {% endif %}
  </body>
</html>