<!DOCTYPE html>
<html>
  <head>
    <title>Forward/Back Control - Rover {{ rover_id }}</title>
    <meta property="og:title" content="Forward/Back Control" />
    <meta property="og:image" content="{{ fc_frame_image }}" />
    <meta name="fc:frame" content="vNext" />
    <meta name="fc:frame:image" content="{{ fc_frame_image }}" />
    <meta name="fc:frame:image:aspect_ratio" content="1.91:1" />
    <meta name="fc:frame:button:1" content="Forward" />
    <meta name="fc:frame:button:1:action" content="post" />
    <meta name="fc:frame:button:1:target" content="{{ base_url }}{{ rover_id }}/move/forward" />
    <meta name="fc:frame:button:2" content="Back" />
    <meta name="fc:frame:button:2:action" content="post" />
    <meta name="fc:frame:button:2:target" content="{{ base_url }}{{ rover_id }}/move/backward" />
    <meta name="fc:frame:button:3" content="Stop" />
    <meta name="fc:frame:button:3:action" content="post" />
    <meta name="fc:frame:button:3:target" content="{{ base_url }}{{ rover_id }}/move/stop" />
    <meta name="fc:frame:button:4" content="Pic" />
    <meta name="fc:frame:button:4:action" content="post" />
    <meta name="fc:frame:button:4:target" content="{{ base_url }}{{ rover_id }}/pic" />
  </head>
  <body>
    <h1>Forward/Back Control - Rover {{ rover_id }}</h1>
  </body>
</html>