<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:image" content="{{ fc_frame_image }}">

    <!-- Farcaster frame meta tags -->
    <meta property="fc:frame" content="vNext" />
    <meta property="fc:frame:image" content="{{ fc_frame_image }}">

    <meta property="fc:frame:button:1" content="Forward">
    <meta property="fc:frame:button:1:action" content="post">
    <meta property="fc:frame:button:1:target" content="{{ base_url }}/forward">

    <meta property="fc:frame:button:2" content="Back">
    <meta property="fc:frame:button:2:action" content="post">
    <meta property="fc:frame:button:2:target" content="{{ base_url }}/back">

    <meta property="fc:frame:button:3" content="Stop">
    <meta property="fc:frame:button:3:action" content="post">
    <meta property="fc:frame:button:3:target" content="{{ base_url }}/stop">
</head>
<body>
    <h1>{{ page_title }}</h1>
    <p>This will run commands on Tumbller</p>
</body>
</html>
