<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:image" content="{{ fc_frame_image }}">

    <!-- Farcaster frame meta tags -->
    <meta property="fc:frame" content="vNext" />
    <meta property="fc:frame:image" content="{{ fc_frame_image }}">

    <!-- Pay Button -->
    <meta property="fc:frame:button:1" content="Pay">
    <meta property="fc:frame:button:1:action" content="post">
    <meta property="fc:frame:button:1:target" content="{{ base_url }}/pay">

</head>
<body>
    <h1>{{ page_title }}</h1>
    <p>Please pay 1 USDC to unlock the controls.</p>
</body>
</html>
