<!DOCTYPE html>
<html>
  <head>
    <title>Payment Failed</title>
    <meta property="og:title" content="Payment Failed" />
    <meta property="og:image" content="{{ fc_frame_image }}" />
    <meta name="fc:frame" content="vNext" />
    <meta name="fc:frame:image" content="{{ fc_frame_image }}" />
    <meta name="fc:frame:image:aspect_ratio" content="1.91:1" />
    <meta name="fc:frame:button:1" content="Return to Selection" />
    <meta name="fc:frame:button:1:action" content="post" />
    <meta name="fc:frame:button:1:target" content="{{ base_url }}" />
  </head>
  <body>
    <h1>Payment Failed</h1>
    <p>Please try again</p>
  </body>
</html>