<!DOCTYPE html>
<html>
  <head>
    <title>{{ og_title }}</title>
    <meta property="og:title" content="{{ og_title }}" />
    <meta property="og:image" content="{{ fc_frame_image }}" />
    <meta name="fc:frame" content="vNext" />
    <meta name="fc:frame:post_url" content="{{ fc_frame_post_url }}" />
    <meta name="fc:frame:image" content="{{ fc_frame_image }}" />
    <meta name="fc:frame:image:aspect_ratio" content="1.91:1" />
    <meta name="fc:frame:button:1" content="{{ fc_frame_button }}" />
    <meta name="fc:frame:button:1:action" content="{{ fc_frame_button_action }}" />
    <meta name="fc:frame:button:1:target" content="{{ fc_frame_button_target }}" />
  </head>
  <body>
    <h1>{{ og_title }}</h1>
  </body>
</html>